/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}
/* Your app custom styles here */
.wrapper {
  text-align: center;
  }
.image--cover{
  width:150px;
  height:150px;
  border-radius: 50%;
  margin:20px;
  object-fit: cover;
  object-position: center;
  }